.background {
  padding: 0 20px;
}

.sobre {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  height: 450px;
  margin: auto;
  margin-bottom: 50px;
  gap: 50px;

  &__text {
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 25px;

    p {
      font-size: clamp(1rem, 1.3vw, 1.4rem);
      color: var(--white);
    }

    .btn {
      width: 100%;
      padding: 12px 20px;
      &::after { font-size: 1rem; }
    }
  }

  &__img {
    position: relative;
    width: 100%;
    min-height: 300px;

    .imgSobre {
      object-fit: cover;
      border-radius: 16px;
      box-shadow: 10px 10px 20px #98148258;
    }
  }
}

@media (max-width: 1240px){
  .sobre {
    &__text { width: 500px; }
  }
}
@media (max-width: 960px) {
  .sobre {
    flex-direction: column;
    height: auto;
    gap: 20px;
    &__text {
      width: 100%;
      button {margin: auto;}
    }
  }
}
@media (max-width: 431px) {
  .sobre {
  &__text {
    gap: 25px;

    .btn {
      padding: 8px 20px;
      &::after { font-size: .8rem; }
    }
  }
}
}
