<div class="background">
  <section class="sobre" id="sobre">
    <div class="sobre__text">
       <div class="title">
         <img [ngSrc]="srcLogo" [alt]="altLogo" class="logoMini" width="62" height="62">
         <h1 #titleSobre></h1>
       </div>
       <p #description></p>
       <a href="https://www.instagram.com/jeitosl91/" target="_blank"><button #buttonSobre class="btn"></button></a>
    </div>

    <div class="sobre__img">
      <img [ngSrc]="srcImg" [alt]="altImg" class="imgSobre" loading="lazy" fill disableOptimizedSrcset>
    </div>
  </section>
</div>

