<section class="num">
  <div class="num__infos">
    <h1>+ DE X</h1>
    <p>DIAMANTES</p>
  </div>
  <div class="num__infos">
    <h1>+ DE X</h1>
    <p>PARCEIROS</p>
  </div>
  <div class="num__infos">
    <h1>31 ANOS</h1>
    <p>DE MERCADO</p>
  </div>
</section>

<section class="sobre" id="sobre">
  <div class="sobre__text">
     <div class="title">
       <img src="assets/img/logoSub.webp" alt="logo em miniatura de um titulo" class="logoMini" width="62" height="62">
       <h1>Sobre nós</h1>
     </div>
     <p>A Corretora SL91 é uma empresa brasileira com 30 anos de experiência no mercado de vendas de Planos de Saúde exclusivos Hapvida NDI. Com uma trajetória marcada pela excelência e qualidade de seus serviços, a empresa tornou-se referência na área de vendas e hoje é uma das maiores corretoras do Brasil.</p>
     <p>Estamos presentes em 20 praças espalhadas por todo o Brasil, e ao longo de 31 anos de experiência no mercado, já colecionamos mais de x Diamantes.</p>
     <button>Conheça nossos projetos</button>
  </div>
    <img [ngSrc]="src" alt="imagem ilustrativa de uma equipe" class="imgSobre" width="1000" height="420" layout="responsive">

</section>

