.separator {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  background-image: linear-gradient(#232323, #232323), linear-gradient(to right, #981483, #069673);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-bottom: 50px;

  .background {
    background-color: #232323;
    padding: 0 100px;
  }
}

.processos {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;

  &__title {
    padding: 30px 0;
    h1 {color: var(--white);}
  }
  // PASSOS DE PROCESSO
  &__passos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
  }
}

@media (max-width: 760px) {
  .separator {
    .background {
      padding: 0 20px;
    }
  }
}
