.header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;

  // INFORMAÇÕES HEADER
  &__info {
    margin-top: 70px;
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    h1 {
      color: var(--white);
      font-weight: 600;
      font-size: 48px;
      text-align: justify;

      b {
        font-weight: 900;
      }
    }

    span {
      font-size: 24px;
      color: var(--white);
    }

    button {
      padding: 12px 60px;
      border: none;
      border-radius: 12px;
      background: var(--btn-back);
      color: var(--btn-color);
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      transition: .5s;

      &:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.366);
      }
      &:active {
        transform: scale(1.02);
      }
    }
  }

  // FORMULÁRIO
  &__form {
    background-color: var(--white);
    border-radius: 16px;
    padding: 32px;
    box-shadow: 1px 1px 20px var(--secondary);

    h1 {
      margin-bottom: 24px;
      color: var(--secondary);
    }
    &__inputBox{
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      .labelInput {
        font-size: 18px;
        font-weight: 400;
        color: var(--secondary);
      }

      .inputUser {
        outline: none;
        border-radius: 10px;
        border: 1px solid rgb(179, 179, 179);
        font-size: 14px;
        padding: 10px;

        &::placeholder {
          color: var(--light-gray);
        }
      }
    }

    button {
      width: 100%;
      padding: 8px 0;
      border: none;
      border-radius: 12px;
      background: var(--secondary);
      color: var(--white);
      font-size: 18px;
      cursor: pointer;
    }
  }
}

// MOBILE
@media (max-width:431px) {
  .header {
    margin-top: 0px;
    flex-direction: column;

    // INFORMAÇÕES HEADER
    &__info {
      margin: 30px 0;
      width: 100%;
      align-items: center;

      h1 {
        font-size: 18px;
      }

      span {
        font-size: 14px;
        text-align: justify;
      }

      button {
        padding: 12px 16px;
        font-size: 12px;
      }
    }

    // FORMULÁRIO
    &__form {

      h1 {
        font-size: 14px;
        text-align: center;
      }

      &__inputBox{

        .labelInput {
          font-size: 12px;
        }

        .inputUser {
          font-size: 12px;
          padding: 8px;
        }
      }

      button {
        font-size: 14px;
      }
    }
  }
}

