.header {
  max-width: 1500px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;

  // INFORMAÇÕES HEADER
  &__info {
    margin-top: 70px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h1 {
      color: var(--white);
      font-weight: 600;
      font-size: clamp(1.5rem, 2.5vw, 2rem);
    }
    span {
      font-size: clamp(1rem, 2.5vw, 1.2rem);
      color: var(--white);
    }
    button {
      width: 90%;
      height: 55px;
      border-radius: 16px;
      font-size: clamp(1rem, 1.5vw, 1.5rem);
      transition: .5s;
      &:hover { box-shadow: 5px 5px 20px rgba(199, 9, 183, 0.437); }
    }
  }
  // FORMULÁRIO
  &__form {
    width: 600px;
    height: auto;
    background-color: var(--white);
    border-radius: 16px;
    border: 5px solid transparent;
    box-shadow: 5px 5px 20px var(--primary);
    cursor: auto;

    .divisoria {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      .es, .ci {
        width: 100%;
      }
    }

    form { padding: 30px; }

    h1 {
      text-align: center;
      font-size: clamp(1.2rem, 2vw, 2rem);
      margin-bottom: 24px;
      color: var(--secondary);
    }

    &__inputBox{
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      gap: 5px;

      .labelInput {
        font-size: clamp(.8rem, 1.8vw, 1rem);
        font-weight: 400;
        color: var(--secondary);
      }

      .inputUser {
        outline: none;
        border-radius: 10px;
        border: 1px solid rgb(179, 179, 179);
        font-size: clamp(.7rem, 1.8vw, .8rem);
        padding: 10px;
        &::placeholder {color: var(--light-gray);}
        &.ng-valid[required], .ng-valid.required { border-left: 5px solid #42A948;}
        &.ng-invalid:not(form) { border-left: 5px solid #a94442;}
      }
    }
    button {
      width: 100%;
      padding: 8px 0;
      margin-top: 20px;
      border: none;
      border-radius: 10px;
      background: var(--secondary);
      color: var(--white);
      font-size: clamp(.8rem, 2vw, 1.2rem);
      cursor: pointer;
      transition: .2s;
      &:hover {box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.366);}
      &:active {transform: scale(1.02);}
    }
  }
}

@media (max-width: 931px) {
  .header {
    flex-direction: column;
    align-items: center;
    &__info {
      margin-top: 0;
      align-items: center;
      width: 100%;
      h1, span {text-align: center;}
      button {
        width: 80%;
        margin: auto;
        height: 50px;
      }
    }
    &__form {
      max-width: 500px;
      width: 100%;
    }
  }
}
@media (max-width: 460px){
  .header {
    &__form{
      .divisoria {
        flex-direction: column;
        gap: 0;
      }
    }
  }
}
@media (max-width:431px) {
  .header {
    margin-top: 0px;
    flex-direction: column;

    // INFORMAÇÕES HEADER
    &__info {
      margin: 30px 0 0;
      h1, span {text-align: start;}
      button { width: 100%; }
    }
  }
}

