<header class="header" id="header">
  <div class="header__info">
    <h1>A <b>Corretora SL91</b> é a corretora exclusiva Hapvida NDI que mais cresce e inova no país.</h1>
    <span>Junte-se a nós e usufrua do melhor comissionamento do mercado</span>
    <button>Entre em contato com nosso suporte</button>
  </div>
  <div class="header__form">
    <form action="#" method="#">
      <h1>Cadastre-se agora mesmo</h1>
      <div class="header__form__inputBox">
        <label for="name" class="labelInput">Nome completo</label>
        <input type="text" name="name" id="name" class="inputUser" placeholder="Ex: Maria da Silva" required>
      </div>
      <div class="header__form__inputBox">
        <label for="email" class="labelInput">E-mail</label>
        <input type="email" name="email" id="email" class="inputUser" placeholder="Ex: Maria@gmail.com" required>
      </div>
      <div class="header__form__inputBox">
        <label for="whats" class="labelInput">Telefone (WhatsApp)</label>
        <input type="tel" name="whats" id="whats" class="inputUser" placeholder="Ex: (XX) 0XXXX-XXXX" required>
      </div>
      <div class="header__form__inputBox">
        <label for="cidade" class="labelInput">Cidade</label>
        <input type="text" name="cidade" id="cidade" class="inputUser" required>
      </div>
      <button type="submit">Finalizar cadastro</button>
    </form>
  </div>
</header>
