<header class="header" id="header">
  <div class="header__info">
    <h1 #h1></h1>
    <span #span></span>
    <button #btn class="btnBorderColor"></button>
  </div>
  
  <div class="header__form btnBorderColor">
    <form action="#" method="POST" [formGroup]="formHome">
      <h1>Cadastre-se agora mesmo</h1>
      <div class="header__form__inputBox">
        <label for="name" class="labelInput">Nome completo</label>
        <input type="text" name="name" id="name" class="inputUser" placeholder="Ex: Maria da Silva" formControlName="nome" maxlength="50" required>
      </div>
      <div class="header__form__inputBox">
        <label for="email" class="labelInput">E-mail</label>
        <input type="email" name="email" id="email" class="inputUser" placeholder="Ex: Maria@gmail.com" formControlName="email" required>
      </div>
      <div class="header__form__inputBox">
        <label for="whats" class="labelInput">Telefone (WhatsApp)</label>
        <input type="tel" name="whats" id="whats" class="inputUser" placeholder="Ex: XX-9XXXX-XXXX" formControlName="telefone" maxlength="15" required>
      </div>
      <div class="header__form__inputBox">
        <label for="estado" class="labelInput">Estado</label>
        <select type="text" name="estado" id="estado" class="inputUser" formControlName="estado" required >
          <option [ngValue]="selecioneEstado">Selecione um Estado</option>
          @for(item of getEstados(); track item){
            <option class="option"> {{ item.sigla }} </option>
          } @empty {
            <p>Loading...</p>
          }
        </select>
      </div>
      <div class="header__form__inputBox">
        <label for="cidade" class="labelInput">Cidade</label>
        <select type="text" name="cidade" id="cidade" class="inputUser" formControlName="cidade" required>
          <option [ngValue]="selecioneCidade">Selecione uma Cidade</option>
          @for(item of cidadesAtivas; track item){
            <option> {{ item }}</option>
          } @empty {
            <p>Loading...</p>
          }
        </select>
      </div>
      <button type="submit" (click)="sendForm()">Finalizar cadastro</button>
    </form>
  </div>
</header>
