.depoimentos {
  margin: 0 100px 100px;
  h1 {
    font-size: 42px;
    text-align: center;
    color: var(--white);
    margin: 50px 0 150px;
  }
  &__pessoas {
    display: flex;
    justify-content: center;
    gap: 80px;

  }
  .background {
    max-width: 1500px;
    margin: auto;
  }
  &__videos {
    margin-top: 100px;
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    overflow: scroll;
    overflow-y: hidden;
    border-radius: 16px;
    .videos {
      width: 1000px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
    .depVideo {
      width: 1000px;
      height: 500px;
      object-fit: cover;
      border-radius: 16px;
    }
    h1 {
      color: var(--white);
      font-size: 22px;
      margin: 0 0 20px;
    }
  }
 }

 @media (max-width: 1295px) {
  .depoimentos {
    margin: 0 20px 100px;
    h1 {font-size: 32px;}
    &__pessoas {
      display: flex;
      justify-content: center;
      gap: 40px;
    }
  }
 }
 @media (max-width: 1050px) {
  .depoimentos {
    &__videos {
      margin-top: 50px;
      .videos {width: 600px;}
      .depVideo {
        width: 600px;
        height: 400px;
      }
      h1 {font-size: 18px;}
    }
  }
 }
 @media (max-width: 910px) {
  .depoimentos {
    margin: 0 20px 100px;
    h1 {font-size: 36px;}
    &__pessoas {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 120px;
    }
  }
 }
 @media (max-width: 640px) {
  .depoimentos {
    &__videos {
      margin-top: 50px;
      .videos {width: 400px;}
      .depVideo {
        width: 400px;
        height: 200px;
      }
      h1 {font-size: 18px;}
    }
  }
 }
 // MOBILE
 @media (max-width: 431px) {
  .depoimentos {
    margin: 0 20px 100px;
    h1 {
      font-size: 20px;
      margin-bottom: 120px;
    }
    &__pessoas {
      flex-direction: column;
      gap: 100px;
    }
    &__videos {
      margin-top: 50px;
      gap: 20px;
      .videos {
        width: 350px;
        gap: 15px;
      }
      .depVideo {
        width: 350px;
        height: 200px;
      }
      h1 {
        font-size: 16px;
        margin-bottom: 15px;
      }
    }
   }
 }
