<section class="depoimentos">
  <h1>{{ titleDepoimentos }}</h1>

  <!-- DEPOIMENTOS BOX VIDEO -->
  <div class="background">
    <swiper-container class="video" init="false">
      <swiper-slide lazy="true">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kYthTQlmvz0?si=ZQLUmuK6uJvUdryQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy" class="depVideo"></iframe>
      <h1>Jorgiana Buriti</h1>
      </swiper-slide>
      <!--
      <swiper-slide>
        <img src="assets/img/depVideo.webp" alt="imagem ilustrativa de uma pessoa" class="depVideo" loading="lazy">
    <h1>Lílian, Praça de Recife</h1>
      </swiper-slide>-->
    </swiper-container>
  </div>

  <!-- DEPOIMENTOS BOX PESSOAS 
  <div class="depoimentos__pessoas">
    <app-box-pessoas
      srcImg="assets/depoimentos/dep.webp"
      altImg="miniatura de um perfil"
      h1Text="LUÍS, Salvador"
      descriptionText="“Conhecer a Corretora SL91 com certeza mudou a minha vida. Pude realizar meus sonhos através do meu trabalho, e o melhor: trabalhando de casa.”"/>
    <app-box-pessoas
      srcImg="assets/depoimentos/dep2.webp"
      altImg="miniatura de um perfil"
      h1Text="AMANDA, Goiânia"
      descriptionText="“Trabalhar para a Corretora SL91 me porporcionou conhecer pessoas extremamente capacitadas e humanas. Minha vida agora é outra!”"/>
    <app-box-pessoas
      srcImg="assets/depoimentos/dep3.webp"
      altImg="miniatura de um perfil"
      h1Text="ALBERTO, Fortaleza"
      descriptionText="“A flexibilidade de horário me permite equilibrar minhas responsabilidades profissionais e pessoais. Além disso, a empresa oferece um ótimo suporte tecnológico.”"/>
  </div>
  -->
</section>
