<section class="depoimentos">
  <h1>{{ titleDepoimentos }}</h1>
 
  <!-- DEPOIMENTOS BOX VIDEO -->
  <div class="background">
    <div class="depoimentos__videos">
      <div class="videos">
        <img src="assets/img/depVideo.webp" alt="imagem ilustrativa de uma pessoa" class="depVideo" width="1000" height="500">
        <h1>Roberto, Praça de Salvador</h1>
      </div>
      <div class="videos">
        <img src="assets/img/depVideo.webp" alt="imagem ilustrativa de uma pessoa" class="depVideo" width="1000" height="500">
        <h1>Roberto, Praça de Salvador</h1>
      </div>
    </div>
  </div>

  <!-- DEPOIMENTOS BOX PESSOAS -->
  <div class="depoimentos__pessoas">
    <app-box-pessoas
      srcImg="assets/depoimentos/dep.webp"
      altImg="miniatura de um perfil"
      h1Text="LUÍS, Salvador"
      descriptionText="“Conhecer a Corretora SL91 com certeza mudou a minha vida. Pude realizar meus sonhos através do meu trabalho, e o melhor: trabalhando de casa.”"/>
    <app-box-pessoas
      srcImg="assets/depoimentos/dep2.webp"
      altImg="miniatura de um perfil"
      h1Text="AMANDA, Goiânia"
      descriptionText="“Trabalhar para a Corretora SL91 me porporcionou conhecer pessoas extremamente capacitadas e humanas. Minha vida agora é outra!”"/>
    <app-box-pessoas
      srcImg="assets/depoimentos/dep3.webp"
      altImg="miniatura de um perfil"
      h1Text="ALBERTO, Fortaleza"
      descriptionText="“A flexibilidade de horário me permite equilibrar minhas responsabilidades profissionais e pessoais. Além disso, a empresa oferece um ótimo suporte tecnológico.”"/>
  </div>
</section>
