<section class="depoimentos">
  <h1>Confira alguns depoimentos de corretores parceiros</h1>
  <div class="depoimentos__pessoas">
    <div class="box">
      <img src="assets/img/dep.webp" alt="miniatura de um perfil" class="imgDep" width="180px" height="180px">
      <h1>Lúis, Salvador</h1>
      <p>“Conhecer a Corretora SL91 com certeza mudou minha vida. Pude realizar vários sonhos com meu trabalho e o suporte do time.”</p>
    </div>
    <div class="box">
      <img src="assets/img/dep.webp" alt="miniatura de um perfil" class="imgDep" width="180px" height="180px">
      <h1>Anderson, Goiânia</h1>
      <p>“Realmente, de todas as corretoras que passei, a SL91 foi a que me deu o melhor comissionamento. E o pagamento cai certinho!”</p>
    </div>
    <div class="box">
      <img src="assets/img/dep.webp" alt="miniatura de um perfil" class="imgDep" width="180px" height="180px">
      <h1>Raquel, Feira de Santana</h1>
      <p>“A Dária, a Assistente Virtual da SL91, me ajuda todos os dias no momento de fechar vendas.”</p>
    </div>
  </div>
  <div class="depoimentos__videos">
    <div class="videos">
      <img src="assets/img/depVideo.webp" alt="imagem ilustrativa de uma pessoa" class="depVideo" width="1000px" height="500px">
      <h1>Roberto, Praça de Salvador</h1>
    </div>
    <div class="videos">
      <img src="assets/img/depVideo.webp" alt="imagem ilustrativa de uma pessoa" class="depVideo" width="1000px" height="500px">
      <h1>Roberto, Praça de Salvador</h1>
    </div>
  </div>
</section>
