<div class="dif">
  <div class="title" id="diferenciais">
    <img src="assets/img/logoSub.webp" alt="Miniatura do logo" class="logoMini" width="62" height="62">
    <h1>{{ h1 }}</h1>
  </div>

  <div class="diferenciais">
    <app-box
      srcImg="assets/icons/rocket.webp"
      altImg="Miniatura de um foguete"
      h1Box="+ de 30 anos de mercado com um único produto"/>
    <app-box
      srcImg="assets/icons/clock.webp"
      altImg="Miniatura de um relógio"
      h1Box="Pagamentos em até 72h" />
    <app-box
      srcImg="assets/icons/money.webp"
      altImg="Miniatura de um dinheiro"
      h1Box="Suporte Financeiro e de Cadastro full-time"/>
    <app-box
      srcImg="assets/icons/student.webp"
      altImg="Miniatura de um chápeu de formatura"
      h1Box="Treinamentos presenciais e on-line"/>
    <app-box
      srcImg="assets/icons/speak.webp"
      altImg="miniatura de um auto-falante"
      h1Box="Suporte de Marketing para vendas"/>
    <app-box
      srcImg="assets/icons/chat.webp"
      altImg="miniatura de uma caixa de conversa"
      h1Box="Assistente Virtual Dária disponível no WhatsApp"/>
  </div>
</div>

