.dif { max-width: 1500px; margin: auto; }
.title {margin: 0 0 50px;}

// BOX
.diferenciais {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 100px;
}

@media (max-width: 1041px) {
  .diferenciais { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; }
}
@media (max-width: 505px) {
  .diferenciais { grid-template-columns: 1fr;}
}
