<div class="dif">
  <div class="title" id="diferenciais">
    <img src="assets/img/logoSub.webp" alt="Miniatura do logo" class="logoMini" width="62" height="62">
    <h1>Nossos diferenciais</h1>
  </div>

  <div class="diferenciais">
    <div class="diferenciais__box">
      <img src="assets/icons/rocket.webp" alt="Miniatura de um foguete" width="62" height="62">
      <h1>+ de 30 anos de mercado
        com um único produto</h1>
    </div>
    <div class="diferenciais__box">
      <img src="assets/icons/clock.webp" alt="Miniatura de um relógio" width="62" height="62">
      <h1>Pagamentos em
        até 72h</h1>
    </div>
    <div class="diferenciais__box">
      <img src="assets/icons/money.webp" alt="Miniatura de um dinheiro" width="62" height="50">
      <h1>Suporte Financeiro
        e de Cadastro full-time</h1>
    </div>
    <div class="diferenciais__box">
      <img src="assets/icons/student.webp" alt="Miniatura de um chápeu de formatura" width="62" height="60">
      <h1>Treinamentos presenciais e on-line</h1>
    </div>
    <div class="diferenciais__box">
      <img src="assets/icons/speak.webp" alt="miniatura de um auto-falante" width="62" height="60">
      <h1>Suporte de Marketing
        para vendas</h1>
    </div>
    <div class="diferenciais__box">
      <img src="assets/icons/chat.webp" alt="miniatura de uma caixa de conversa" width="62" height="60">
      <h1>Assistente Virtual Dária
        disponível no WhatsApp</h1>
    </div>
  </div>
</div>

