<div class="dif">
  <div class="title" id="diferenciais">
    <img src="assets/img/logoSub.webp" alt="Miniatura do logo" class="logoMini" width="62" height="62">
    <h1>{{ h1 }}</h1>
  </div>

  <div class="diferenciais">
    <app-box
      srcImg="assets/icons/house.webp"
      altImg="Miniatura de um foguete"
      h1Box="Trabalhe 100% home-office"/>
    <app-box
      srcImg="assets/icons/smile.webp"
      altImg="Miniatura de um relógio"
      h1Box="Você não precisa de experiência pra começar" />
    <app-box
      srcImg="assets/icons/pc.webp"
      altImg="Miniatura de um dinheiro"
      h1Box="Receba os equipamentos na sua casa"/>
    <app-box
      srcImg="assets/icons/student.webp"
      altImg="Miniatura de um chápeu de formatura"
      h1Box="Aprenda com os melhores do mercado"/>
    <app-box
      srcImg="assets/icons/feedback.webp"
      altImg="miniatura de um auto-falante"
      h1Box="Feedbacks constantes de quem sabe vender"/>
    <app-box
      srcImg="assets/icons/rocket.webp"
      altImg="miniatura de uma caixa de conversa"
      h1Box="+ de 30 anos de mercado com um único produto"/>
  </div>
</div>

