.dif {
  max-width: 1500px;
  margin: auto;
}
.title {margin-bottom: 50px;}
// BOX
.diferenciais {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 125px;
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 50px;
    width: 400px;
    height: 250px;
    padding: 40px 12px 22px;
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 3px 3px 20px var(--secondary);
    h1 {
      font-size: 24px;
      color: var(--secondary);
      text-align: center;
    }
    img {
      width: 62px;
      height: auto !important;
    }
  }
}

// TABLET
@media (max-width: 1041px) {
  .diferenciais {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 20px;
    &__box {
      width: 100%;
      h1 {
        font-size: 18px;
        color: var(--secondary);
        text-align: center;
      }
      img {
        width: 48px;
        height: auto;
      }
    }
  }
}
// MOBILE
@media (max-width: 431px) {
  // BOX
.diferenciais {
  grid-template-columns: 1fr;
  &__box {
    h1 {
      font-size: 22px;
      color: var(--secondary);
      text-align: center;
    }
  }
}
}
