.box {
  display: flex;
  align-items: center;
  border-radius: 16px;
  gap: 40px;
  padding: 25px;
  background-color: var(--white);

  .imgDep {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 5px 5px 20px rgb(178, 178, 178);
  }

  .box2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    h1 {
      font-size: clamp(1.2rem, 1.7vw, 2rem);
      color: #232323;
    }
    p {
      color: var(--black);
      font-size: clamp(1rem, 1.7vw, 1.7rem);
      font-weight:300;
      font-style: italic;
    }
  }
}

 @media (max-width: 600px) {
  .box {
    flex-direction: column;
    padding: 15px;
    gap: 20px;

    .box2 {
      gap: 10px;
      h1 { text-align: center; }
    }
  }
}

