.background {
  background-color: var(--white);
  padding: 0px 100px;
}

.footer {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: auto;

  &__infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 300px;

    .logoColor {
      width: 350px;
      height: auto;
    }

    .redes {
      display: flex;
      flex-direction: column;
      gap: 15px;

    }

    h4, a {
      color: var(--secondary);
      font-size: 22px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
    padding: 0 20px;

    p {
      color: var(--white);
      font-weight: bold;
    }
  }
}

@media (max-width: 970px) {
  .background {
    padding: 0 20px;
  }
  .footer {
    &__infos {
      height: 250px;
      gap: 30px;
      .logoColor {
        width: 200px;
      }
      .redes {
        gap: 5px;
      }
      h4, a {
        color: var(--secondary);
        font-size: 18px;
      }
    }
  }
}

// MOBILE
@media (max-width: 431px) {
  .footer {
    &__infos {
      padding: 0px 20px;
      height: 200px;
      gap: 30px;
      .logoColor {
        width: 120px;
        height: auto;
      }
      h4 {
        padding-left: 10px;
        font-size: 14px;
      }
      a {
        padding: 10px;
        font-size: 12px;
      }
    }
    &__row {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;

      p {
        color: var(--white);
        font-weight: bold;
      }
    }
  }
}
