<div class="background">
  <footer class="footer">
    <div class="footer__infos">
      <a href="#nav"><img [ngSrc]="srcLogo" [alt]="altLogo" class="logoColor" width="250" height="250"></a>
      <div class="redes">
        <h1>Siga nossas redes sociais</h1>
        <a href="https://www.instagram.com/corretorasl91/" target="_blank">Corretora SL91</a>
        <a href="https://www.instagram.com/jeitosl91/" target="_blank">Jeito SL91</a>
        <a href="https://www.instagram.com/_slcast/" target="_blank">
        <a href="https://www.youtube.com/@SLCAST_" target="_blank"
        class="redes__Youtube"><img src="assets/icons/youtube.webp" alt="Link para ir ao youtube" width="32" height="24"/>
        </a>SL Cast</a>
      </div>
    </div>
  </footer>
</div>
<div class="background2">
  <div class="footer__row">
    <p>Corretora SL91</p>
    <p>2024</p>
  </div>
</div>

