.background {
  background-color: var(--white);
  padding: 0px 20px;
}
.footer {
  max-width: 1500px;
  margin: auto;

  &__infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 270px;

    .logoColor { height: auto; }

    .redes {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h1{
        color: var(--secondary);
        font-size: clamp(.9rem, 2vw, 1.4rem);
      }

      a {
        display: flex;
        align-items: center;
        gap: 7px;
        font-weight: 500;
        font-size: clamp(.7rem, 2vw, 1.2rem);
        color: var(--secondary);
        padding: 10px 0;

        &::before {
          content: '';
          display: inline-block;
          width: 24px;
          height: 24px;
          background-image: url('/assets/icons/instagram.webp');
          object-fit: cover;
        }

        .redes__Youtube {
          padding: 0;
          &::before {
            content: '';
            display: none;
          }
        }
      }
    }

  }
}

.background2 {
  padding: 0px 20px;
  .footer__row {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
    p {
      color: var(--white);
      font-weight: bold;
      font-size: clamp(.8rem, 1.5vw, 1.2rem);
    }
  }
}

@media (max-width: 970px) {
  .footer {
    &__infos {
      height: 250px;
      gap: 30px;
      .logoColor {width: 200px;}
    }
  }
}
@media (max-width: 465px) {
  .footer {
    &__infos {
      padding: 0 0 20px;
      height: 200px;
      gap: 30px;
      flex-direction: column;
      height: auto;

      .redes {
        width: 250px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
      }
    }
  }
}
