<!-- FUNCTION BTN MOBILE-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--FONT POPPINS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<div class="effect3"></div>
<div class="home">
  <app-nav></app-nav>
  <app-header></app-header>
  <hr>
  <app-sobre></app-sobre>
  <app-diferenciais></app-diferenciais>
</div>
  <div class="effect"></div>
  <app-processos></app-processos>
  <app-treinamentos></app-treinamentos>
  <div class="effect2"></div>
  <app-depoimentos></app-depoimentos>
  <app-footer></app-footer>

