<!-- FUNCTION BTN MOBILE-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--FONT POPPINS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<div class="home">
  <app-nav/>
  <app-header />
  <div class="video">
    <div class="video__box btnBorderColor"><iframe width="560" height="315" src="https://www.youtube.com/embed/kYthTQlmvz0?si=ZQLUmuK6uJvUdryQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
  </div>
  @defer (on idle; prefetch on viewport) {
    <app-diferenciais />
  } @placeholder {
    <p class="defer">Aguardando Servidor.</p>
  } @loading {
    <p class="defer">Carregando a página...</p>
  } @error { <p class="defer">Erro ao carregar!</p> }
</div>

  @defer (on idle; prefetch on viewport) {
    <app-processos />
  } @placeholder {
    <p class="defer">Aguardando Servidor.</p>
  } @loading {
    <p class="defer">Carregando a página...</p>
  } @error { <p class="defer">Erro ao carregar!</p> }

  @defer (on viewport) {
    <app-treinamentos />
  } @placeholder {
    <p class="defer">Aguardando Servidor.</p>
  } @loading {
    <p class="defer">Carregando a página...</p>
  } @error { <p class="defer">Erro ao carregar!</p> }

  @defer (on viewport) {
    <app-depoimentos />
  } @placeholder {
    <p class="defer">Aguardando Servidor.</p>
  } @loading {
    <p class="defer">Carregando a página...</p>
  } @error { <p class="defer">Erro ao carregar!</p> }

  @defer (on viewport) {
    <app-call-action/>
  } @placeholder {
    <p class="defer">Aguardando Servidor.</p>
  } @loading {
    <p class="defer">Carregando a página...</p>
  } @error { <p class="defer">Erro ao carregar!</p> }

  @defer (on idle; prefetch on viewport) {
    <app-sobre />
  } @placeholder {
    <p class="defer">Aguardando Servidor.</p>
  } @loading {
    <p class="defer">Carregando a página...</p>
  } @error { <p class="defer">Erro ao carregar!</p> }

  <app-footer />

