
.background {
  background-color: #232323;
}

.container {
  display: flex;
  gap: 30px;
  max-width: 1500px;
  height: auto;
  margin: 0 auto 50px;
  padding: 20px;

  img {
    width: 700px;
    height: 100%;
    object-fit: cover;
    border-radius: 22px;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 35px;

    h1 {
      font-size: clamp(1.5rem, 1.8vw, 2.2rem);
      color: var(--white);
      text-transform: uppercase;
    }
    p{
      font-size: clamp(1rem, 1.4vw, 1.5rem);
      font-weight: 300;
      color: var(--white);
    }
    button {
      width: 100%;
      background-color: var(--btn-back);
      border: none;
      border-radius: 16px;
      padding: 12px;
      font-size: clamp(.8rem, 1.7vw, 1.5rem);
      font-weight: bold;
    }
  }
}

@media (max-width: 1280px) {
  .container {
      margin-bottom: 50px;
      flex-direction: column-reverse;
      img {
        width: 100%;
        height: 500px;
        object-position: center;
      }
      .text {
        h1, p { text-align: center; }
        button { width: 50%; margin: auto; }
      }
    }
  }
@media (max-width: 795px) {
  .container {
      img { height: 300px; }
      .text {
        button { padding: 5px; width: 100%; }
      }
    }
  }
@media (max-width: 431px){
  .container {
    img {height: auto;}
    .text {
      gap: 20px;
      p { text-align: start; }
    }
  }
}


