/* RESET CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

/* VARIABLES */
:root {
--primary: #f406cc;
--secondary: #3C0F3F;
--backgroundSlide: #f665de;
--white: #fff;
--black: #000;
--light-gray: #c8c8c8;
--green-bold: #0B624C;
--green: #047a5c;
--btn-back: #fff;
--btn-color: #3C0F3F;
}

body { background-color: var(--secondary); }

/* SUBTITLE */
.title {
  display: flex;
  align-items: center;
  gap: 8px;

  h1 {
    font-size: clamp(1.1rem, 3vw, 2rem);
    font-weight: 600;
    color: var(--white);
  }
}

@media (max-width: 431px) {
  .title {
    .logoMini { width: 42px; height: 42px; }
  }
}

.defer { text-align: center; color: var(--white); }

// Scroll-Bar
::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-thumb { background: var(--primary); border-radius: 10px; }

// BORDA DEGRADÊ
.btnBorderColor {
  border: solid 2px transparent;
  background-image: linear-gradient(var(--white), var(--white)), radial-gradient(circle at top left, #981483, #6A1261, #069673);
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;
  font-weight: 600;
  color: #3C0F3F;
}

// BOTÃO COLORIDO
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 12px;
  background-image: linear-gradient(to right, #981483, #6A1261, #069673);
  border-radius: 16px;
  border: none;
  color: var(--white);
  font-size: clamp(.9rem, 1vw, 1.1rem);
  font-weight: bold;
  transition: .4s;
  box-shadow: 1px 1px 20px rgba(199, 9, 183, 0.277);
  cursor: pointer;

  &:active { transform: scale(1.03); }
}






