<section class="treinamentos">
  <div class="treinamentos__title title">
    <img src="assets/img/logoSub.webp" alt="Miniaturea do logo" class="logoMini">
    <h1>Calendário de treinamentos</h1>
  </div>
  <div class="treinamentos__datas">
    <div class="box">
      <h1>1ª Turma</h1>
      <h2>11 de Julho, às 14h</h2>
      <button>INSCREVA-SE</button>
    </div>
    <div class="box">
      <h1>2ª Turma</h1>
      <h2>20 de Julho, às 14h</h2>
      <button>EM BREVE <img src="assets/img/close.webp" alt="icone de um cadeado" width="20px" height="20px"></button>
    </div>
    <div class="box">
      <h1>3ª Turma</h1>
      <h2>20 de Julho, às 14h</h2>
      <button>EM BREVE <img src="assets/img/close.webp" alt="icone de um cadeado" width="20px" height="20px"></button>
    </div>
  </div>
  <div class="treinamentos__chamada">
    <img src="assets/img/treinamento.webp" alt="imagem ilustrativa de uma equipe" width="500px" height="500px">
    <div class="text">
      <h1>É a sua chance de mudar de vida!</h1>
      <p>Além de contar com atendimento financeiro e comercial full-time, você conta com o maior comissionamento do mercado.
        Não perca tempo e cadastre-se agora mesmo.</p>
      <button>QUERO ME CADASTRAR NA SL91!</button>
    </div>
  </div>
</section>
