.treinamentos {

  &__title {
    margin: 100px 100px 50px;
  }

  // DATAS DISPONIVEIS DOS TREINAMENTOS
  &__datas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 120px;
    margin: 0 100px 50px;

    .box:nth-child(1){
      background-color: var(--secondary);
      color: var(--white);

      button {
        background-color: var(--btn-back);
        color: var(--btn-color);
        transition: .5s;

        &:hover {
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.366);
        }
      }
    }

    .box {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 350px;
      height: 150px;
      background-color: var(--light-gray);
      color: var(--secondary);
      border-radius: 16px;

      h1, h2 {
        position: relative;
        top: -10px;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: absolute;
        bottom: -20px;
        border: none;
        border-radius: 16px;
        font-size: 24px;
        font-weight: bold;
        width: 90%;
        padding: 8px;
        background-color: var(--secondary);
        color: var(--white);
        cursor: pointer;
      }
    }
  }

  // CHAMADA PARA SE INSCREVER
  &__chamada {
    margin: 150px 100px 100px;
    background-color: var(--green-bold);
    border-radius: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 24px;
    }

    .text {
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 35px;

      h1 {
        font-size: 36px;
        color: var(--white);
        text-transform: uppercase;
      }

      p{
        font-size: 32px;
        text-align: justify;
        font-weight: 300;
        color: var(--white);
      }

      button {
        background-color: var(--btn-back);
        color: var(--btn-color);
        border: none;
        border-radius: 16px;
        padding: 12px;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        transition: .6s;

        &:hover {
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.366);
        }
      }
    }
  }
}

@media (max-width: 431px) {
  .treinamentos {

    &__title {
      margin: 50px 20px;
    }

    // DATAS DISPONIVEIS DOS TREINAMENTOS
    &__datas {
      gap: 50px;
      margin: 0px 20px;

      .box {
        width: 300px;
        height: 100px;

        h1, h2 {
          font-size: 18px;
        }

        button {
          font-size: 18px;
        }
      }
    }

    // CHAMADA PARA SE INSCREVER
    &__chamada {
      margin: 100px 0px 50px;
      border-radius: 16px;
      display: flex;
      flex-direction: column-reverse;
      height: auto;

      img {
        height: auto;
      }

      .text {
        gap: 25px;

        h1 {
          font-size: 18px;
        }

        p{
          font-size: 16px;
        }

        button {
          border-radius: 16px;
          padding: 12px 5px;
          font-size: 14px;
        }
      }
    }
  }
}


