
<div class="background">
  <div class="h1 title">
    <img [ngSrc]="srcImg" [alt]="altImg" class="logoMini" width="62" height="62">
    <h1>{{ title }}</h1>
  </div>
</div>

<section class="treinamentos">
    <div class="treinamentos__datas">
      <div class="box">
        <div class="boxOpen">
          <h1>1ª Turma</h1>
          <h2>11 de Julho, às 14h</h2>
          <button class="btnBorderColor"><a href="#formulario" style="padding: 8px 10px;color: var(--secondary);">INSCREVA-SE</a></button>
        </div>
      </div>
      <div class="box">
        <div class="boxClosed">
          <h1>2ª Turma</h1>
          <h2>20 de Julho, às 14h</h2>
          <button> EM BREVE<img [src]="cadeadoImg" [alt]="cadeadoAlt" width="20" height="20"></button>
        </div>
      </div>
      <div class="box">
        <div class="boxClosed">
          <h1>3ª Turma</h1>
          <h2>27 de Julho, às 14h</h2>
          <button>EM BREVE <img [src]="cadeadoImg" [alt]="cadeadoAlt" width="20" height="20"></button>
        </div>
      </div>
    </div>
</section>
