
<div class="background">
  <div class="h1 title">
    <img [ngSrc]="srcImg" [alt]="altImg" class="logoMini" width="62" height="62">
    <h1>{{ title }}</h1>
  </div>
</div>

<section class="treinamentos">
    <!-- BOX DATAS -->
    <div class="treinamentos__datas">
      <div class="box">
        <h1>1ª Turma</h1>
        <h2>11 de Julho, às 14h</h2>
        <button>INSCREVA-SE</button>
      </div>
      <div class="box">
        <h1>2ª Turma</h1>
        <h2>20 de Julho, às 14h</h2>
        <button>EM BREVE <img [src]="cadeadoImg" [alt]="cadeadoAlt" width="20" height="20"></button>
      </div>
      <div class="box">
        <h1>3ª Turma</h1>
        <h2>20 de Julho, às 14h</h2>
        <button>EM BREVE <img [src]="cadeadoImg" [alt]="cadeadoAlt" width="20" height="20"></button>
      </div>
    </div>
    <!-- BOX CHAMADA -->
    <div class="treinamentos__chamada">
      <img [ngSrc]="imgBox" [alt]="altBox" width="500" height="500" disableOptimizedSrcset>
      <div class="text">
        <h1 #titleBox>o</h1>
        <p #descriptionBox></p>
        <button #btnBox></button>
      </div>
    </div>
</section>
