.background {padding: 0 20px;}
.h1 {
  max-width: 1500px;
  margin: auto;
  margin-bottom: 20px;
}
.treinamentos {
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  &__datas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 20px;
    width: 100%;

    .box {
      width: 300px;
      border: solid 2px transparent;
      background-image: linear-gradient(var(--white), var(--white)), linear-gradient(to bottom, #981483, #6A1261, #069673);
      background-origin: border-box;
      background-clip: content-box, border-box;
      color: var(--white);
      cursor: auto;

      h2 { font-size: clamp(1rem, 2vw, 1.1rem); }

      .boxOpen {
        background-image: linear-gradient(to bottom right, #981483, #66286A, #069673);
        padding: 30px;
        button {
          padding: 0;
          border: 2px solid transparent;
          color: var(--secondary);
        }
      }
      .boxClosed { background-color: #3D3D3D; padding: 30px;}

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        border-radius: 16px;
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
        padding: 8px 10px;
        background-color: transparent;
        color: #AAAAAA;
        border: 2px solid #AAAAAA;
      }
    }
  }
}

// MOBILE
@media (max-width: 431px) {
  .treinamentos {
    &__title {margin: 50px 20px;}
    // DATAS DISPONIVEIS DOS TREINAMENTOS
    &__datas {
      gap: 50px;
      .box { width: 100%; }
    }
  }
}


