<nav class="nav" id="nav">
  <a href='#nav'><img [ngSrc]="logoImg" width="150" height="150" [alt]="logoAlt"/></a>
      <ul class='nav__bar'>
          <input type='checkbox' id='check' />
          <ul class="menu">
              <li><a href="#sobre">Sobre nós</a></li>
              <li><a href="#diferenciais">Vantagens</a></li>
              <li><a href="#header">Processo de cadastro</a></li>
              <button class="menu__button btnBorderColor">Cadastre-se</button>
              <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
          </ul>
          <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
      </ul>
  </nav>


