<nav class="nav" id="nav">
  <a href='#nav'><img src='assets/img/logo.webp' alt="logo" width="200px" height="200px"/></a>
      <ul class='nav__bar'>
          <input type='checkbox' id='check' />
          <ul class="menu">
              <li><a href="#">Sobre nós</a></li>
              <li><a href="#">Diferenciais</a></li>
              <li><a href="#">Cadastre-se</a></li>
              <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
          </ul>
          <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
      </ul>
  </nav>


